@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    position: relative;
    background-color: rgb(12,12,29);
}

#tsParticles{
    position: absolute;
    width: 100%;
    height: 88%;
    
}

nav,footer{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);


}



nav h1{
    text-align: center;
}

.language-selector{
    width: 100%;
    text-align: end;
    padding-right: 30px;
    z-index: 999;
}

.language-selector a{
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    background-size: cover;
    background-position: center;
  
}
.description-it,
.description-en{
    padding: 40px 20px;
    font-size: 12px;
    width: 70%;
backdrop-filter: blur(6px);
color: white;
letter-spacing: 3px;
font-weight: 600;
}

.description-it{
    display: none;
}

li{
    padding-left: 10px;
}

.enter-number-container{
text-align: center;}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    max-width: 800px;
    padding-bottom: 200px;
}


/* --STILE DEL CAMPO DI INPUT-- */
.input-fields-container{
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    position: relative;
    max-width: 400px;
    color: antiquewhite;
    border: 1px solid white;
    backdrop-filter: blur(2px);
}
.input,
.btn{
    margin: 5px;
}

.input{
    width: 100px;
}

.btn{
    padding: 5px 10px;
}

button:not(:disabled){
color: white;
background-color: blue;
opacity: .8;
}

.btn:hover{
    opacity: 1;
    background-color: blue;
    border-color: white;
    color: white;
}

/* -- STILE PER GLI ERRORI CHE VERRANNO VISUALIZZATI ALL'UTENTE IN CASO DI INSERIMENTO DI VALORI SBAGLIATI --*/

.error-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
   bottom: -60px;
   backdrop-filter: blur(6px);
   font-weight: 500;
    
}

.error-message{
    color: red;
    font-size: 13px;
    display: none;
    text-align: center;
}


/* -- SPINNER -- */

.spinner-container{
opacity: 0;
padding-bottom: 40px;
}

/* --JAPANESE CONTAINER --*/
.japanese-container{
    display: none;
background-image: url('https://images.unsplash.com/photo-1603484477859-abe6a73f9366?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
background-size: cover;
border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    width: 700px;
    position: relative;
    /* opacity: 0; */
    backdrop-filter: blur(2px);
    overflow: hidden;
}

.japanese-box{
   
    width: 400px;
aspect-ratio: 1;
    background-color: transparent;
    margin-bottom: 100px;
    position: relative;
    margin: 100px;
}

.japanese-multiplication{
    /* margin-top: 20px; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.hundreds-first-multiplicand{
    color: #b6b81d;
font-weight: 700;
text-shadow: 1px 1px black;
}
.tens-first-multiplicand{
color: #EE70A2;
font-weight: 700;
text-shadow: 1px 1px black;
}

.units-first-multiplicand{
    color:#4DB07C;
    font-weight: 700;
    text-shadow: 1px 1px black;

}

.hundreds-second-multiplicand{
    color: #b6b81d;
font-weight: 700;
text-shadow: 1px 1px black;
}
.tens-second-multiplicand{
color: #444040;
font-weight: 700;
text-shadow: 1px 1px black;

}

.units-second-multiplicand{
color: #025988;
font-weight: 700;
text-shadow: 1px 1px black;

}
.line-hundreds-first-multiplicand{
    position: absolute; 
    height: 100%; 
    border: 3px solid #728302;
    text-shadow: 1px 1px black;
}
.line-tens-first-multiplicand{
    position: absolute; 
    height: 100%; 
    border: 3px solid #EE70A2;
    text-shadow: 1px 1px black;
}

.line-units-first-multiplicand{
    position: absolute; 
    height: 100%; 
    border: 3px solid #4DB07C;
    text-shadow: 1px 1px black;
}
.line-hundreds-second-multiplicand{
    position: absolute; 
    width: 100%; 
    border: 3px solid #a16f04;
    text-shadow: 1px 1px black;
    
}
.line-tens-second-multiplicand{
    position: absolute; 
    width: 100%; 
    border: 3px solid #444040;
    text-shadow: 1px 1px black;
}
.line-units-second-multiplicand{
    position: absolute; 
    width: 100%; 
    border: 3px solid #025988;
    text-shadow: 1px 1px black;
}

.intersection-circle{
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
border: 1px solid black;
}


.rect-points {
    position: absolute;
    border: 5px dotted rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rect-middle-points{
    position: absolute;
    border: 1px dashed rgba(0,0,0,0.5);
    border-radius: 2px;
    height: 117%;
    left: 40%;
    width: 20%;
    bottom: -5%;
}

.container-number{
    font-weight: 500;
    font-size: 30px;
    top: 85%;
    left: 85%;
}

.tens-units-number{
    text-align: center;
}
.span-tens{
    opacity: 0.6;
    font-size: 25px;
}

.plus-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.added-units{
    color: rgb(255 25 25 / 94%);
}

.plus{
    font-size: 20px;
}

.span-number-middle{
position: static;
}

.span-number-no-middle{
position: absolute;
}



.final-multiplication{
    color: red;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 1px 1px black;
}

.curved{
    border: 2px solid #ff000052;
    position: absolute;
    width:90%;
    top: 20%;
    height: 50%;
    border-radius: 34%;
    display: none;

}

.curved-left{
    left: -50%;
}
.curved-right{
right: -50%;
}


footer{
margin-bottom: -20px;    
position: fixed;
    bottom: 0;
}

@media(max-width:576px){
.description-en,
.description-it{
    font-size: 10px;
    width: 90%;
}

ol{
    padding-left: 10px;
}
    h1{
        font-size: 20px;
    }
    .input-fields-container{
        width: 200px;
        flex-direction: column;
        align-items: center;
        /* margin-top: 250px; */
    }


    .error-message{
        font-size: 10px;
    }

    .japanese-container{
        width: 100%;
    }

    .japanese-box{
        width: 80%;
        aspect-ratio: 1;
    }

    .intersection-circle{
        width: 8px;
        height: 8px;
    }

    .span-number,
    .span-tens{
        font-size: 20px;
        text-shadow: 1px 1px black;
    }

    .final-multiplication,
    .span-units{
        font-size: 25px;
    }

    footer{
        padding: 10px 15px;
        font-size: 13px;
    }
}