@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p{
    margin: 0;
    padding: 0;
}
/* --STILE DEL CAMPO DI INPUT-- */
.input-fields-container{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    position: relative;
}

.input,
.btn{
    margin: 5px;
}

.btn{
    border: 1px solid blue;
    padding: 5px 10px;
}

.btn:hover{
    background-color: blue;
    border-color: white;
    color: white;
}

/* -- STILE PER GLI ERRORI CHE VERRANNO VISUALIZZATI ALL'UTENTE IN CASO DI INSERIMENTO DI VALORI SBAGLIATI --*/

.error-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -40px;
    
}

.error-message{
    color: red;
    font-size: 13px;
    display: none;
    text-align: center;
}


/* -- SPINNER -- */

.spinner-container{
    display: none;
}

/* --JAPANESE CONTAINER --*/
.japanese-container{
    display: none;
    
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.9);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.japanese-box{
    width: 400px;
aspect-ratio: 1;
    background-color: blanchedalmond;
    margin-bottom: 30px;
}

.japanese-multiplication{
    width: 100%;
    height: 20%;
    background-color: blueviolet;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tens-first-multiplicand{
color: #EE70A2;
}

.units-first-multiplicand{
    color:#4DB07C
}
.tens-second-multiplicand{
color: #444040;
}

.units-second-multiplicand{
color: #0094E4;
}
@media(max-width:576px){
    .input-fields-container{
        width: 70%;
        flex-direction: column;
        align-items: center;
    }

   
    .input{
        width: 60%;
    }

    .error-message{
        font-size: 10px;
    }

    .japanese-container{
        width: 100%;
    }

    .japanese-box{
        width: 80%;
        aspect-ratio: 1;
    }
}