@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    max-width: 800px;
    /* margin-top: 200px; */
    padding-bottom: 200px;
}


/* --STILE DEL CAMPO DI INPUT-- */
.input-fields-container{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    position: relative;
    max-width: 400px;
  
}

.input,
.btn{
    margin: 5px;
}

.input{
    width: 100px;
}

.btn{
    border: 1px solid blue;
    padding: 5px 10px;
}

.btn:hover{
    background-color: blue;
    border-color: white;
    color: white;
}

/* -- STILE PER GLI ERRORI CHE VERRANNO VISUALIZZATI ALL'UTENTE IN CASO DI INSERIMENTO DI VALORI SBAGLIATI --*/

.error-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
   bottom: -60px;
    
}

.error-message{
    color: red;
    font-size: 13px;
    display: none;
    text-align: center;
}


/* -- SPINNER -- */

.spinner-container{
    display: none;
}

/* --JAPANESE CONTAINER --*/
.japanese-container{
    display: none;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.9);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    width: 700px;
    position: relative;
}

.japanese-box{
   
    width: 400px;
aspect-ratio: 1;
    background-color: transparent;
    margin-bottom: 100px;
    position: relative;
    margin: 70px;
}

.japanese-multiplication{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.hundreds-first-multiplicand{
    color: #b6b81d;
font-weight: 700;
}
.tens-first-multiplicand{
color: #EE70A2;
font-weight: 700;
}

.units-first-multiplicand{
    color:#4DB07C;
    font-weight: 700;

}

.hundreds-second-multiplicand{
    color: #b6b81d;
font-weight: 700;
}
.tens-second-multiplicand{
color: #444040;
font-weight: 700;

}

.units-second-multiplicand{
color: #025988;
font-weight: 700;

}
.line-hundreds-first-multiplicand{
    position: absolute; 
    height: 100%; 
    border: 3px solid #728302;
}
.line-tens-first-multiplicand{
    position: absolute; 
    height: 100%; 
    border: 3px solid #EE70A2;
}

.line-units-first-multiplicand{
    position: absolute; 
    height: 100%; 
    border: 3px solid #4DB07C;
}
.line-hundreds-second-multiplicand{
    position: absolute; 
    width: 100%; 
    border: 3px solid #a16f04;
    
}
.line-tens-second-multiplicand{
    position: absolute; 
    width: 100%; 
    border: 3px solid #444040;
}
.line-units-second-multiplicand{
    position: absolute; 
    width: 100%; 
    border: 3px solid #025988;
}

.intersection-circle{
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
border: 1px solid black;
}


.rect-points {
    position: absolute;
    border: 5px dotted rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rect-middle-points{
    position: absolute;
    border: 1px dashed rgba(0,0,0,0.5);
    border-radius: 2px;
    height: 117%;
    left: 40%;
    width: 20%;
    bottom: -5%;
}

.container-number{
    font-weight: 500;
    font-size: 30px;
    top: 85%;
    left: 85%;
}

.tens-units-number{
    text-align: center;
}
.span-tens{
    opacity: 0.6;
    font-size: 25px;
}

.plus-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.added-units{
    color: rgba(255, 153, 0, 0.937);
}

.plus{
    font-size: 20px;
}

.span-number-middle{
position: static;
}

.span-number-no-middle{
position: absolute;
}



.final-multiplication{
    color: red;
    font-size: 30px;
    font-weight: 400;
}

.curved{
    border: 2px solid #ff000052;
    position: absolute;
    width:90%;
    top: 20%;
    height: 50%;
    border-radius: 34%;
    display: none;

}

.curved-left{
    left: -50%;
}
.curved-right{
right: -50%;
}


@media(max-width:576px){
    .input-fields-container{
        width: 200px;
        flex-direction: column;
        align-items: center;
        margin-top: 250px;
    }


    .error-message{
        font-size: 10px;
    }

    .japanese-container{
        width: 100%;
    }

    .japanese-box{
        width: 80%;
        aspect-ratio: 1;
    }

    .intersection-circle{
        width: 8px;
        height: 8px;
    }

    .span-number{
        font-size: 20px;
    }
}